<div class="flex justify-between space-x-10">
  <div class="top w-96 bg-white h-screen">
    <div class="flex justify-between mb-6 py-10 px-4">
      <h6 class="text-xs">My Card</h6>
      <h6 class="text-xs text-gray-500">Change Card</h6>
    </div>

    <div class="bg px-4 -mt-10">
      <div class="w-80 h-44 rounded-xl py-6 px-4 bg-in">
        <h6 class="text-xs mb-2 text-black">My Balance</h6>
        <p class="text-black text-xl font-bold">{{ user.balance }}</p>
        <p class="text-xs mb-2 text-black mt-8">{{ user.name }}</p>

        <p class="text-xs mb-2 text-black">{{ user.phone }}</p>
      </div>
    </div>
  </div>
  <div class="w-full h-full bg-white rounded-lg my-8 py-4 px-6">
    <div class="flex justify-end items-end space-x-2">
      <button
        class="flex items-center text-sm space-x-2 border-2 py-2 px-2 rounded-lg text-gray-500"
      >
        <span>Filter</span>
      </button>

      <input
        class="flex items-center text-sm space-x-2 border-2 py-2 px-2 rounded-lg"
        placeholder="Search hire"
      />
    </div>

    <div class="mt-10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, ullam.
    </div>
  </div>
</div>
