<div class="flex justify-between space-x-10">
  <div class="top w-96 bg-green-100 max-w-6xl mb-8 mt-8">
    <div class="flex justify-between mb-6 py-10 px-4"></div>

    <div class="bg px-4 -mt-10">
      <div class="w-80 h-44 rounded-xl py-6 px-4 bg-in">
        <h6 class="text-xs mb-2 text-black">My Balance</h6>
        <p class="text-black text-xl font-bold">{{ user.balance }}</p>
        <p class="text-xs mb-2 text-black mt-8">{{ user.name }}</p>

        <p class="text-xs mb-2 text-black">{{ user.phone }}</p>
      </div>
    </div>
  </div>
</div>
