<div class="m-1">
  <div class="mb-8">
    <a
      routerLink="/mainDashboard-page"
      class="flex text-slate-500 hover:w-44 hover:h-12 hover:py-3 hover:px-4 hover:rounded-lg hover:bg-green-400 hover:text-white"
    >
      <img src="./assets/image/dashbard.svg" class="w-8 h-10 flex -mt-2" />
      <h3 class="ml-3 tracking-tight flex justify-center items-center">
        Dashboard
      </h3>
    </a>
  </div>

  <div class="mb-8">
    <a
      routerLink="/transaction-page"
      class="flex text-slate-500 hover:w-44 hover:h-12 hover:py-3 hover:px-4 hover:rounded-lg hover:bg-green-400 hover:text-white"
    >
      <img src="./assets/image/transaksi.svg" class="w-8 h-10 flex -mt-2" />
      <h3 class="ml-4 tracking-tight">Transaction</h3>
    </a>
  </div>

  <a
    routerLink="/product-page"
    class="flex text-slate-500 hover:w-44 hover:h-12 hover:py-3 hover:px-4 hover:rounded-lg hover:bg-green-400 hover:text-white"
  >
    <img src="./assets/image/menu_product.svg" class="w-8 h-10 flex -mt-2" />
    <h3 class="ml-4 tracking-tight">Product</h3>
  </a>
</div>
