<div class="content">
  <app-navbar></app-navbar>
  <div class="flex justify-end items-end space-x-2 mr-8 bg-white">
    <button
      class="flex items-center text-sm space-x-2 border-2 py-2 px-2 rounded-lg text-gray-500"
    >
      <span>Filter</span>
    </button>

    <input
      class="flex items-center text-sm space-x-2 border-2 py-2 px-2 rounded-lg"
      placeholder="Search hire"
    />
  </div>

  <div class="mx-2">
    <div class="w-56 bg-white h-full fixed z-10 -ml-1 px-5 pt-14">
      <app-sidebar></app-sidebar>
    </div>
    <div class="ml-56 bg-slate-100 pl-6 -mr-2 h-full">
      <div class="mt-6">
        <div class="overflow-x-auto relative">
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="py-3 px-6">Product name</th>
                <th scope="col" class="py-3 px-6">Price</th>
                <th scope="col" class="py-3 px-6">Category</th>
                <th scope="col" class="py-3 px-6">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                *ngFor="let transaction of transactions"
              >
                <th
                  scope="row"
                  class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  {{ transaction.product_name }}
                </th>
                <td class="py-4 px-6">
                  Rp{{ formatPrices(transaction.price) }}
                </td>
                <td class="py-4 px-6">{{ transaction.category }}</td>
                <td class="py-4 px-6">{{ transaction.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
