<div
  class="top-nav flex justify-between py-3 px-10 items-center bg-white sticky top-0"
>
  <div>
    <a href="" class="flex">
      <img src="./assets/image/cocomelon.png" class="w-20 h-16" />
      <span
        class="flex justify-center items-center text-3xl ml-2 font-bold text-green-500"
        >Cocomelon</span
      >
    </a>
  </div>

  <div class="flex items-center">
    <a href="">
      <div class="flex bg-white py-1 px-3 justify-between space-x-2">
        <div>
          <img
            src="./assets/image/cocomelon.png"
            class="w-12 h-10"
            alt="avatar"
          />
        </div>
        <div class="flex justify-start flex-col items-start">
          <h3 class="cursor-pointer text-sm leading-5 font-bold">
            {{ user.name }}
          </h3>
          <p class="cursor-pointer text-xs leading-3 text-gray-500">
            {{ user.phone }}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
